.terminal {
  margin-top: 8px;

  .xterm {
    height: 100%;
  }

  .input-content {
    margin: 10px;

    .input-action {
      margin-top: 10px;
  
      .el-input {
        width: 90%;
      }
  
      .el-button {
        margin-left: 8px;
      }
    }
  }

}