<!DOCTYPE html>
<html>
  <body>
    <canvas
      id="myCanvas"
      width="400"
      height="400"
      style="border: 1px solid #000000"
    ></canvas>

    <script>
      var canvas = document.getElementById("myCanvas");
      var ctx = canvas.getContext("2d");
      var centerX = canvas.width / 2;
      var centerY = canvas.height / 2;
      var radiusX = 150; // 椭圆的水平半径
      var radiusY = 100; // 椭圆的垂直半径
      var angle = 0; // 初始角度
      var timeId = null;

      function drawEllipse() {
        // ctx.clearRect(0, 0, canvas.width, canvas.height); // 清除画布

        // 绘制外椭圆
        ctx.beginPath();
        ctx.ellipse(centerX, centerY, radiusX, radiusY, 0, 0, Math.PI * 2);
        // // 设置阴影样式
        ctx.strokeStyle = "rgba(0, 0, 0, 0.5)";
        ctx.shadowColor = "rgba(0, 0, 0, 0.5)"; // 阴影颜色
        ctx.shadowBlur = 0; // 阴影模糊度
        ctx.shadowOffsetX = 0; // 阴影x轴偏移
        ctx.shadowOffsetY = 15; // 阴影y轴偏移
        ctx.stroke();

        //  开始填充两个椭圆之间的空隙
        ctx.beginPath();
        // 移动到内椭圆的起始位置
        ctx.moveTo(centerX + 130 * Math.cos(0), centerY + 80 * Math.sin(0));
        // 绘制内椭圆的弧线
        ctx.ellipse(centerX, centerY, 130, 80, 0, 0, Math.PI * 2, false);
        // 绘制外椭圆的弧线，与内椭圆形成封闭路径
        ctx.ellipse(centerX, centerY, radiusX, radiusY, 0, 0, Math.PI * 2, true);
        // 填充空隙
        ctx.fillStyle = "rgba(0, 0, 0, 0.4)"; // 设置你想要的填充颜色
        ctx.fill();
        ctx.closePath();
        // 绘制内椭圆
        ctx.beginPath();
        ctx.ellipse(centerX, centerY, 130, 80, 0, 0, Math.PI * 2);
        // ctx.strokeStyle = "rgba(0, 0, 0, 0.5)";
        ctx.stroke();
        ctx.closePath();

        timeId = setInterval(() => {
          // 计算旋转点的位置
          var x = centerX + ((radiusX + 130) / 2) * Math.cos(angle);
          var y = centerY + ((radiusY + 80) / 2) * Math.sin(angle);

          angle += 0.01; // 增加角度
          if ((angle * 180) / Math.PI >= 360) {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            drawEllipse();
            angle = 0;
            clearInterval(timeId);
          }
          drawCircle(ctx, angle, canvas, x, y);
        }, 10); // 每10毫秒调用一次drawEllipse函数
      }

      function drawCircle(ctx, angle, canvas, x, y) {
        console.log(
          "x, y",x, y
        );
        // 绘制旋转的点
        ctx.beginPath();
        ctx.arc(x, y, 10, 0, Math.PI * 2);
        ctx.fillStyle = "#08c808";
        ctx.shadowColor = "#08c808"; // 阴影颜色
        ctx.shadowBlur = 0; // 阴影模糊度
        ctx.shadowOffsetX = 0; // 阴影x轴偏移
        ctx.shadowOffsetY = 15; // 阴影y轴偏移
        ctx.fill();
        ctx.strokeStyle = "rgba(0, 0, 0, 0.1)";
        ctx.stroke();
        ctx.closePath();
      }
      drawEllipse();
    </script>
  </body>
</html>
